.fev_audio_slide .int_container {
    /* background: url(intmedia/whiteboard_bg.png) center bottom no-repeat; */
    min-height: 400px;
    width: 630px;
    padding: 0px;
    margin: 0px auto;
    box-shadow: 0 8px 15px 0 rgba(160, 132, 69, 0.20);
}
.fev_audio_slide .playDiv{
    opacity:0.6;
    border-radius: 10px;
}
.fev_audio_slide h2.banner{
    display: none;
}
.fev_audio_slide h2.banner:after, .fev_audio_slide h2.banner:before{
    display: none;
}
.fev_audio_slide .audioslideshow  h2, .fev_audio_slide .audioslideshow .txtContainer div p{
    color:#ffffff
}

.fev_audio_slide .il_textversion h2 {
    background-image: none !important;
    color: #3B3B58 !important;
}

.fev_audio_slide button.btn.restartMe {
    width: 100px;
    position: relative;
    right: -120px;
    padding: 2px;
    text-align: center;
    border-color: #5e5e8a
}
/*.ng_il .il_textbtn.il_btn:focus,*/
.fev_audio_slide .il_textbtn.il_btn,
.fev_audio_slide .il_textbtn.il_btn:hover {
    width: 160px;
    margin: 0px auto;
    left:0px;
    position: relative;
    display: block;
}


.fev_audio_slide .il_textversion>h2 {
    display: none;
}

.fev_audio_slide .il_textversion .txtVersionSld h3+p {
    display: none;
}

.fev_audio_slide .myButtonBar{
    left:40px;
    border-radius: 10px;
    bottom: 25px;
}
.fev_audio_slide .imgContainer {
    width: 230px;
    bottom: 0px;
    top: 40px;
    right:0px
}
.fev_audio_slide .txtContainer {
    width: 330px;
    left: 50px;
    top: 50px;
}
.fev_audio_slide .txtContainer div{
    background-color: #3b3c56;
}
.fev_audio_slide .txtContainer div:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -25px;
    top: 38px;
    bottom: auto;
    border: 20px solid;
    border-color: #3b3c56 transparent transparent #3b3c56;
}
.fev_audio_slide {
    min-height: 300px;
    margin: 30px auto 40px auto;
    padding: 0px;
    max-width: 665px;
}
.iosbtns{
    background-color: #473B8F;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* .fev_audio_slide .il_textbtn.il_btn {
    left: 50%;
} */

.fev_audio_slide button.il_copyright_right {
    top: 38px;
    right: 28px;
}
.fev_audio_slide .il_copyrightDisplay.cright {
    right: 22px;
    top: 95px;
}
.ng_il .il_copyrightDisplay ul li {
    background-color: transparent;
    margin: 0px auto;
    padding: 4px 0px 0px;
    box-shadow: none;
    text-align: left;
    color: black;
}
/* @media (max-width: 830px) {
    .fev_audio_slide{
        padding: 20px 10px;
        margin-left: -10%;
    }
} */
