.greetings img {
    max-height: 200px;
    max-width: 300px;
    box-shadow: 1px 1px 5px 0 rgba(50, 50, 50, 0.75);
    border: 10px solid #fff;
}

.righty {
    float: right;
    margin-top: -10px;
    margin-right: -5px;
}

.lefty {
    float: left;
    margin-top: -10px;
    margin-right: 15px;
}

.title_first p,
.title_second p,
.title_third p,
.title_fourth p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    color: white;
    margin: 15px 0 0 15px;
    padding: 10px;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0 0 0 15px;
    padding: 10px 10px 20px 10px;
}

.title_first {
    background-color: #386000;
}

.text_first {
    background-color: #afd778;
}

.title_second {
    background-color: #970000;
}

.text_second {
    background-color: #ffd2d2;
}

.title_third {
    background-color: #c87600;
}

.text_third {
    background-color: #ffe8c7;
}

.title_fourth {
    background-color: #003569;
}

.text_fourth {
    background-color: #dee9f4;
}