.resizetest .viewport {
    min-height: 440px;
}

.fev_drop_down .wbbtn.dropdown {
    min-width: 120px;
    width: auto;
    margin-right: 0;
}

.fev_drop_down .il_viewport h2.il_int_title {
    display: none;
}

.fev_drop_down .il_wb.il_p_wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* .il_textversion [data-ng-switch-when='fitb']>div>span {
    display: none;
} */

li.ng-scope {
    /* float: left; */
    width: 200px;
    /* border-right: 1px solid #d0d0d0;     */
    box-shadow: 1px 1px 1px #dcdcdc;
    text-align: center;
}

.ques_eng {
    /* margin-bottom: 10px; */
}

.ques_eng span {
    width: 120px;
}

.fev_drop_down .il_textversion_question h4 {
    color: #fff !important;
}

.fev_drop_down .dropdown button,.fev_drop_down .il_btn, .fev_drop_down a.print {
    border: none !important;
    color: #2E2E2E !important;
}
.fev_drop_down .il_textversion button.btn.btn-default.ng-binding{
    background: linear-gradient(180deg, #FEA36D 0%, #E87E44 100%) !important;
    color: #2E2E2E !important;
}
.fev_drop_down .modal-body {
    border-top: none;
}

.fev_drop_down .il_question {
    margin: 0px auto;
    padding: 0;
    text-align: center;
}

.fev_drop_down .il_question.il_mc_options {
    margin-top: 2px;
    text-align: center;
    height: auto;

}

.fev_drop_down .interactiveElements .btn {
    text-align: center !important;
    margin-bottom: 7px;
}

.fev_drop_down .interactiveElements .btn.imgbtn {
    width: 44% !important;
    text-align: center !important;
    margin-left: 1.5% !important;
}

.fev_drop_down .il_textversion img {
    display: none !important;
}

.fev_drop_down .il_textversion .fortv {
    display: block;
}

.fev_drop_down .fevmedia .il_question video {
    height: 30px;
    width: 290px;
}

.fev_drop_down input.il_wb_text,
.fev_drop_down select.il_wb_select,
.fev_drop_down .btn-group.wbbtn .btn {
    min-height: 35px;
}

.fev_drop_down .btn .caret {
    float: right;
    margin: 5px auto 5px 5px;
}

.fev_drop_down .il_question_wrapper {
    height: auto;
}

.fev_drop_down .il_btns {
    bottom: 60px;
}

.fev_drop_down .il_textversion .fortv {
    margin-left: 0px;
    margin-bottom: 10px;
    color: black;
}

.fev_drop_down .il_textversion .well.well-lg .fortv {
    display: none;
}

.fev_drop_down button.il_copyright {
    top: unset;
    bottom: 60px;
}

.fev_drop_down .il_copyrightDisplay {
    bottom: 100px;
    margin: 0px auto;
    padding-top: 10px;
    margin-left: -10px;
}

.fev_drop_down .il_copyrightDisplay:after {
    border-bottom-color: transparent;
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -5px;
    bottom: -19px;
}

.fev_drop_down .il_copyrightDisplay ul li {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    text-align: left;
    padding-left: 20px;
}

.fev_drop_down .il_copyrightDisplay ul {
    margin: 0px auto;
    padding: 0px;
    margin-bottom: 10px;
}

.fev_drop_down .il_textversion {
    min-height: auto;
}

.fev_drop_down .il_textversion_question {
    padding: 10px;
}
.fev_drop_down .dropdown-menu{
    margin: 13px 0 0;
}