/*======================================

CSS DOCUMENT FOR ALL Libraries
Colobox, accordions, etc

======================================*/


/* ---------------------------------
-- COLORBOX
---------------------------------*/


/*Can add colorbox revisions back in*/


/* ---------------------------------
-- CLICK TO REVEAL
---------------------------------*/


/* ---------------------------------
-- TABBED PANELS
---------------------------------*/

.panel-block {

    box-shadow: 0 3px 5px #eee2f2;
}

.tabs a.tab {
    background: linear-gradient(180deg, #FEA36D 0%, #E87E44 100%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(190, 89, 32, 0.3);
    color: #454545;
    font-size: 14px;
    font-family: 'Poppins-SemiBold', sans-serif;
    text-decoration: none;
}

.tabs a.active,
.tabs a.tab:hover {
    background: linear-gradient(180deg, #FFDC51 0%, #E2BD27 100%);
    box-shadow: 0 4px 6px rgba(98, 171, 161, 0.3);
    font-size: 14px;
    font-family: 'Poppins-SemiBold', sans-serif;
    color: #454545;
}

.tabs a.tab:focus {
    outline: 2px dotted !important;
    outline-offset: -2px;
}

.tabs a.active:after {
    border-bottom: 12px solid #454545;
}

.tabs div.panel {
    border-top: 4px solid #454545;
}


/* ---------------------------------
-- ACCORDION
---------------------------------*/

#accordion {
    background: transparent;
    box-shadow: 0 3px 5px #eee2f2;
}

.collapse {
    /* box-shadow: 0px 3px 5px #eee2f2; */
}

.panel-default>.panel-heading {
    background: linear-gradient(180deg, #FFDC51 0%, #E2BD27 100%) !important;
    box-shadow: 0 4px 6px rgba(98, 171, 161, 0.3);
    color: #454545;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
}

.panel-default>.collapsed {
    background: linear-gradient(180deg, #FEA36D 0%, #E87E44 100%) !important;
    box-shadow: 0 4px 6px rgba(190, 89, 32, 0.3);
    border-radius: 10px;
}

.panel-default>.collapsed:hover,
.panel-default>.collapsed:active,
.panel-default>.collapsed:focus {
    background: linear-gradient(180deg, #FFDC51 0%, #E2BD27 100%) !important;
    box-shadow: 0 4px 6px rgba(98, 171, 161, 0.3);
    border-radius: 10px;
}


/* ---------------------------------
-- SLIDESHOW
------------------------------------*/

.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
    color: #454545;
    background: linear-gradient(180deg, #FEA36D 0%, #E87E44 100%);
    box-shadow: 0 4px 6px rgba(190, 89, 32, 0.3);
    border-radius: 50%;
    padding: 5px;
    width: 43px;
    height: 43px;
    display: inline-block;
}

.carousel-indicators li {
    /*background-image: url(../images/pagination.png);*/
    background-image: none !important;
    border: 3px solid #454545;
    padding: 0;
    height: 20px;
}

.carousel-indicators li.active, .carousel-indicators li:hover {
    background-color: #E48753;
    margin: 1px;
    padding: 0;
    height: 20px;
}


/* ---------------------------------
-- TABLES
------------------------------------*/

.table>thead>tr>th {
    border-bottom: none;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}

table td {
    padding: 1rem;
}

table td+td {
    border-left: 5px solid #f7f7f7;
}

table tr+tr td {
    border-top: none;
}

.table>tbody>tr>td {
    border-top: none;
}

.table-latin {
    padding: 20px;
    background-color: white;
    box-shadow: 3px 5px 5px #eee2f2;
    margin-bottom: 15px;
}


/* ---------------------------------
-- CAROUSEL
------------------------------------*/


/* ---------------------------------
-- Roundabout
------------------------------------*/


/* ---------------------------------
-- PROGRESS BAR
------------------------------------*/


/* ---------------------------------
-- LARGE ROLLOVER CARDS
------------------------------------*/

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 900px;
    list-style: none;
    text-align: center;
}

.grid figure {
    box-shadow: 0 8px 15px 0 rgba(160, 132, 69, 0.20);
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    background: #2E2D50;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    max-width: 100%;
    opacity: 1;
}

.grid figure figcaption {
    padding: 15px 12px;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
}

.grid figure h4 {
    font-weight: 300;
    color: white;
    margin: 0;
    display: block;
    background: #3B3C56;
}

.grid figure h4 span {
    font-weight: 800;
}

.grid figure h4,
.grid figure p {
    margin: 0;
}

.grid figure p,
.grid figure ul,
.grid figure ol {
    letter-spacing: 1px;
    font-size: 16px;
}

figure.effect-sarah.smaller p,
figure.effect-sarah.smaller ul,
figure.effect-sarah.smaller ol {
    font-size: 14px;
}

figure.effect-sarah img {
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-sarah:hover img,
figure.effect-sarah:focus img,
figure.effect-sarah:focus-within img {
    /* opacity: .12; */
    filter: blur(10px);
    opacity: .25;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah figcaption {
    text-align: left;
}

figure.effect-sarah h4 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}

figure.effect-sarah h4::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #f2f0d0;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect-sarah:hover p,
figure.effect-sarah:focus p,
figure.effect-sarah:focus-within p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}



figure.effect-sarah p {
    padding: 1px;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

figure.effect-sarah:hover p,
figure.effect-sarah:focus p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah div {
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

figure.effect-sarah:hover div,
figure.effect-sarah:focus div,
figure.effect-sarah:focus-within div {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figcaption p a,
figcaption p a:visited,
figcaption p a:active {
    color: #eee7be;
}

figcaption p a:hover,
figcaption p a:focus {
    color: #ffffff;
}


/**** Special Lists ***/

.nobullet {
    list-style: none;
}
