/* #menu_inner .menubtn {
    color: #3B3C56;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 0 5px;
}

#menu_inner .menubtn:hover {
    background-color: #fff;
}
#menu_inner .menubtn.selected,
#nav_menu .nav_menu_modules li a.modlink.selected {
    background-color: #AFCD97;
    color: #06272F;
}

#nav_menu .nav_menu_modules {
    padding: 5px !important;
    line-height: 1.3em;
}

#nav_menu .nav_menu_modules li .nav_menu_lessons, #nav_menu .nav_menu_modules {
    background: rgba(255, 255, 255, 0.9);
}

#nav_menu .nav_menu_modules {
    list-style: none;
    margin: 0;
    position: fixed;
    top: 40px;
    width: 210px;
    box-shadow: 1px 1px 10px #000;
}
#nav_menu .nav_menu_modules li:last-child a.modlink {
    margin-bottom: 0;
}
#nav_menu .nav_menu_modules li a.modlink,
.nav_menu_lessons li a,
.nav_menu_lessons li a.odd {
    background-color: #fff;
    color: #06272F;
    text-decoration: none;
    font-weight: normal;
    width: 270px;
    float: left;
    height: auto;
    padding: 6px 10px;
}

#nav_menu .nav_menu_modules li a.modlink:hover, .nav_menu_lessons li a:hover, .nav_menu_lessons li a.odd:hover {
    background-color: #AFCD97;
    border: 1px solid #06272F;
    color: #06272F;
}

.nav_menu_lessons li a .lesson_num, .nav_menu_lessons li a .lesson_title, .nav_menu_lessons li a .lesson_nfo {
    color: #06272F;
}

.menubtn_mobile:hover {
    opacity: 0.7;
}

.nav_menu_lessons li a .lesson_num p {
    line-height: 1.2;
    display: inline-block;
    vertical-align: top;
}

.nav_menu_lessons li a .lesson_nfo {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    float: left;
}

#nav_menu .nav_menu_modules li .nav_menu_lessons {
    left: 210px;
    padding: 5px;
    position: absolute;
}

.nav_menu_lessons li a {
    width: 160px;
    height: 160px;
}

#menu_inner .menu_links li a {
    color: #d76eff;
}

#menu_inner .menu_links li a:hover, .pagenums a:hover, .home:hover {
    background-color: #fff;
}

#nav_menu .nav_menu_modules li a.modlink {
    padding: 8px;
    width: 200px;
    cursor: pointer;
    font-size: 14px;
}

#nav_menu .nav_menu_modules li a.modlink .num {
    margin-right: 5px;
    float: left;
}


#nav_menu .nav_menu_modules li a.modlink .title {
    padding: 0px 25px;
    text-indent: 0px;
    display: block;
}

.nav_menu_lessons li {
    margin: 0;
}
#menu_rightMobile {
    display: none;
}

#menu_inner .menubtn:hover, #menu_inner .menu_links li a:hover, .pagenums a:hover, .page_links a.active, .home:hover {
    color: #ffffff;
    background-color: #3B3C56;
}

.prevt {
    background-image: url(../images/prev.png);
    background-repeat: no-repeat;
    background-position: center;
} */

/*.prevt:hover {
    background-image: url(../images/prev_hover.png);
    opacity: .9;
}*/

/* .nextt {
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-position: center;
} */

/*.nextt:hover {
    background-image: url(../images/next_hover.png);
    opacity: .9;
}*/

/* nav {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .15);
}

.menuBox {
    -webkit-box-shadow: 0 0 0 0 rgba(189, 186, 181, .4), 0 0 0 0 rgba(189, 186, 181, .0);
}

.home {
    border-left: solid 0 #f0f0f0;
    border-right: solid 0 #f0f0f0;
}

.home:hover {
    color: #06272F !important;
    background-color: #AFCD97 !important;;
}

#menu_inner .menu_links li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

#menu_inner .menu_links li a:hover {
    background-color: #AFCD97;
    color: #06272F;
    text-decoration: none;
}

#menu_inner .menubtn {
    text-decoration: none;
    color: #fcf7e3;
    -webkit-box-shadow: 0 0 0 0 rgba(189, 186, 181, .4), 0 0 0 0 rgba(189, 186, 181, .4);
    -moz-box-shadow: 0 0 0 0 rgba(189, 186, 181, .4), 0 0 0 0 rgba(189, 186, 181, .4);

}

#menu_inner .menubtn:hover {
    text-decoration: none;
    color: #06272F;
    background-color: #AFCD97;
}

.pagenums a:hover {
    text-decoration: none;
    color: #FFF !important;
    background-color: #3B3C56;
}

.progress_bar .bar .bar_segment,
.bar_segment {
    background-color: #AFCE97 !important;
}
*/
.nav_menu_lessons li a {
	height: 140px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.nav_menu_lessons li a {
		height: 150px;
	}
}

@media (max-width: 834px) and (max-height:775px) {
    #nav_menu {
        padding: 0;
    }

    .nav_menu_lessons li a {
        width: 300px;
		height: 55px;
		padding: 1px 10px;
		margin: 0 1px 5px !important;
    }

    .nav_menu_lessons li a .lesson_num {
        font-size: 12px;
        display: inline;
        margin-right: 4px;
    }

    #nav_menu .nav_menu_modules li .nav_menu_lessons {
        width: 310px;
    }

    .nav_menu_lessons li a .lesson_title {
        padding: 0 !important;
        line-height: 1.3em;
        display: inline;
    }

    #nav_menu .nav_menu_modules li .nav_menu_lessons {
        width: 310px;
    }

    .nav_menu_lessons li a .lesson_num {
        padding: 0 0 1px;
    }

    .menuBox {
        padding: 0;
    }

    .home {
        padding: 0;
        margin: 0;
    }
    .progress_meter_popup {
        left: -140px !important;
    }

}

@media (max-width: 834px) {
    #nav_menu .nav_menu_modules li .nav_menu_lessons {
        padding-top: 1rem;
        width: 80vw;
    }
}
