.grid figure p,
.grid figure ul,
.grid figure ol {

    font-size: 13px !important;
}

@media (min-width: 980px) {
    figure.effect-sarah .popover.top>.arrow {
        bottom: -36px;
    }

    figure.effect-sarah .popover.top>.arrow:after {
        bottom: 27px;
    }
}

/* a.pop-over {
    white-space: normal;

} */