.ng_il .viewport {
    min-height: 550px;
}

.ng_il .il_question.myQuestions {
    margin: 0;
    padding-bottom: 10px;
}

.ng_il .myChoices .il_question {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.ng_il .myChoices audio {
    height: 40px;
}


.ng_il .interactiveElements .btn {
    text-align: center !important;
}

.ng_il .interactiveElements .btn.imgbtn {
    width: 42.2% !important;
    text-align: center !important;
    margin-left: 1.5% !important;
}

.ng_il table.mytable {
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.ng_il table.mytable>tbody>tr>td {
    padding: 4px;
}

.ng_il .il_question {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: -10px;
}

.ng_il .il_question .bigFont {
    font-size: 25px;
}


.ng_il .il_customView .il_mc_options {
    padding: 0;
    margin: 0;
}

.ng_il .fevmedia .il_question video {
    height: 30px;
    width: 290px;
}


.ng_il .il_viewport .btn-group>button.btn:not(.active) {
    color: black !important;
    margin-top: -3px;
    background-color: white !important;
    border-radius: 5px !important;
    border: 2px solid #18374B;
}

.ng_il span.fortv,
.ng_il .il_textversion img {
    display: none !important;
}

.ng_il .il_textversion .fortv {
    display: inline-block !important;
}

.ng_il .col-xs-7 {
    margin-bottom: 10px;
    margin-top: -10px;
}

.ng_il img.imgstroke {
    margin: auto;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.ng_il .il_textversion .fev_copy.copyright {
    display: none;
}


.ng_il .fev_copy.copyright {
    background: rgba(255, 255, 255, .54);
    text-align: left;
    margin-top: -18px;
    display: block;
    position: relative;
    border-radius: 0;
    padding: 2px;
    margin-left: 58px;
    margin-bottom: 0;
    width: 56%;
    color: #000;
}


.ng_il .il_dragdrop_items .il_btn {
    min-width: 100px;
}

.il_question.ng-pristine.ng-untouched.ng-valid.ui-droppable {
    min-height: 60px;
}

.ng_il .bin .il_header {
    text-align: center;
    font-size: 20px;
}

/* .ng_il .kWidgetIframeContainer.kaltura[id="1_plxezdep"] {
    margin: 0 auto;
    width: 300px !important;
    height: 205px !important;
    position: relative;
}

.ng_il .kaltura[id="1_plxezdep"] {
    width: 300px !important;
    height: 175px !important;
    overflow: hidden;
} */


/*  */
.il_textversion .frontSide {
    display: none;
}

.il_viewport p.hideTextFront,
.il_viewport .backSide {
    display: none;
}

.myChoices {
    padding-left: 0px;
    padding-right: 0px;
}

.ng_il .il_btns {
    bottom: 52px !important;
}

.ng_il span.il_nav_text {
    display: block !important;
}