.ng_il .viewport{
    max-width: 700px;
}
.ng_il .viewport img {
    max-width: 300px;
    margin: 0 auto;
    display:block;
    margin-bottom: 10px;
}

.ng_il .il_viewport h2.il_int_title {
    display: none;
}
.ng_il .modal-body {
    border-top: none;
}
.ng_il .il_question {
     margin: 0px auto;  
    padding: 0;
    text-align: center;
}
.ng_il .il_question.il_mc_options{
    margin-top: 2px;
    text-align: center;
    height: auto;

}
.ng_il .interactiveElements .btn {
    text-align: center !important;
    margin-bottom: 7px;
}

.ng_il .interactiveElements .btn.imgbtn {
	width: 44% !important;
    text-align: center !important;
    margin-left: 1.5% !important;
}



.ng_il span.fortv,
.ng_il .il_textversion img {
    display: none;
}

.ng_il .il_textversion .fortv {
    display: block;
}

.ng_il .fevmedia .il_question video {
    height: 30px;
    width: 290px;
}


.ng_il .il_textversion .fev_copy.copyright {
    display: none;
}


.ng_il .fev_copy.copyright {
    background: rgba(255, 255, 255, .54);
    text-align: left;
    margin-top: -18px;
    display: block;
    position: relative;
    border-radius: 0;
    padding: 2px;
    margin-left: 21%;
    margin-bottom: 0;
    width: 59%;
    color: #000;
}
.il_textversion_question .copyright{
    display: none;
}
.fev_MCQ_copyright {
    bottom: 57px;
}