<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>TMP: Page 2</title>
    <script type="text/javascript">
        var pg_csslibs = []; // CSS Libs for this Page
        var pg_jslibs = []; // JS Libs for this Page
    </script>
    <script src="../../global/js/settings.js" id="settingJS" type="text/javascript"></script>
</head>

<body>
<div id="pageContent">
    <!-- CONTENT GOES HERE -->
    <h1>Panels, Wells and Content Blocks</h1>
    <hr />
    <div class="panel panel-default">
        <div class="panel-body">
            Basic panel example
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>
    <div class="well">Default well.</div>
    <br/>
    <div class="modClear">&nbsp;</div>
    <div class="moduleAssessment">
        <div class="well assignment">
            <div class="icon_local" data-icon="icon_assignment" data-alt="Assignment Icon"></div>
            <div class="content">
                <h2>Assignment</h2>
                <p>Assignment instructions.</p>
            </div>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="moduleAssessment"&gt;
    &lt;div class=&quot;well assignment&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_assignment&quot; data-alt=&quot;Assignment Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Assignment&lt;/h2&gt;
            &lt;p&gt;Assignment instructions.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br/>
    <div class="modClear">&nbsp;</div>
    <div class="wellImportant">
        <div class="well important">
            <div class="icon_local" data-icon="icon_important" data-alt="Important Icon"></div>
            <div class="content">
                <h2>Important</h2>
                <p>Important information goes here</p>
            </div>
            <div class="icon_local icon_right" data-icon="icon_flower" data-alt="Flower Icon"></div>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellImportant"&gt;
    &lt;div class=&quot;well important&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_important&quot; data-alt=&quot;Important Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Important&lt;/h2&gt;
            &lt;p&gt;Important information goes here&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;icon_local icon_right&quot; data-icon=&quot;icon_flower&quot; data-alt=&quot;Flower Icon&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
    </div>
    <br/> <br/> <br/>
    <div class="modClear">&nbsp;</div>
    <div class="wellBlock">
        <div class="well checkitout">
            <div class="icon_local" data-icon="icon_check" data-alt="Check It Out Icon"></div>
            <div class="content">
                <h2>Check It Out</h2>
                <p>Check It Out block.</p>
            </div>
        </div>
    </div>
    <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well checkitout&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_check&quot; data-alt=&quot;Check It Out Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Check It Out&lt;/h2&gt;
            &lt;p&gt;Check It Out block.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock">
            <div class="well cognates">
                <div class="icon_local" data-icon="icon_cognates" data-alt="Cognates Icon"></div>
                <div class="content">
                    <h2>Cognates</h2>
                    <p>Cognates well.</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well cognates&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_cognates&quot; data-alt=&quot;Cognates Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Cognates&lt;/h2&gt;
            &lt;p&gt;Cognates well.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock">
            <div class="well didyouknow">
                <div class="icon_local" data-icon="icon_didyouknow" data-alt="Did You Know Icon"></div>
                <div class="content">
                    <h2>Did You Know...</h2>
                    <p>Did You Know information goes here</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well didyouknow&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_didyouknow&quot; data-alt=&quot;Did You Know Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Did You Know...&lt;/h2&gt;
            &lt;p&gt;Did You Know information goes here&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock">
            <div class="well help">
                <div class="icon_local" data-icon="icon_help" data-alt="Help Icon"></div>
                <div class="content">
                    <h2>Need Help?</h2>
                    <p>Need help using other greetings and introductions? Check out some additional vocabulary you already know. Remember to add them to your note guide.</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well help&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_help&quot; data-alt=&quot;Help Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;ed Help?&lt;/h2&gt;
            &lt;p&gt;Need help using other greetings and introductions? Check out some additional vocabulary you already know. Remember to add them to your note guide.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock">
            <div class="well think">
                <div class="icon_local" data-icon="icon_think" data-alt="Let’s Think About It Icon"></div>
                <div class="content">
                    <h2>Let’s Think About It</h2>
                    <p>Let’s Think About It block.</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well think&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_think&quot; data-alt=&quot;Let’s Think About It Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Let’s Think About It&lt;/h2&gt;
            &lt;p&gt;Let’s Think About It block.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock">
            <div class="well notes">
                <div class="icon_local" data-icon="icon_notes" data-alt="Notes Icon"></div>
                <div class="content">
                    <h2>Notes</h2>
                    <p>Notes block.</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well notes&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_notes&quot; data-alt=&quot;Notes Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Notes&lt;/h2&gt;
            &lt;p&gt;Notes block.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock">
            <div class="well said">
                <div class="icon_local" data-icon="icon_said" data-alt="It's Also Said Icon"></div>
                <div class="content">
                    <h2>It's Also Said</h2>
                    <p>It's Also Said block.</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well said&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_said&quot; data-alt=&quot;It's Also Said Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;It's Also Said&lt;/h2&gt;
            &lt;p&gt;It's Also Said block.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock">
            <div class="well toolbox">
                <div class="icon_local" data-icon="icon_toolbox" data-alt="Toolbox Icon"></div>
                <div class="content">
                    <h2>Toolbox</h2>
                    <p>Content for "Toolbox" block.</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock"&gt;
    &lt;div class=&quot;well toolbox&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_toolbox&quot; data-alt=&quot;Toolbox Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Toolbox&lt;/h2&gt;
            &lt;p&gt;Content for &quot;Toolbox&quot; block.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
        <br/> <br/> <br/>
        <div class="modClear">&nbsp;</div>
        <div class="wellBlock videowell">
            <div class="well videowell">
                <div class="icon_local" data-icon="icon_video" data-alt="Video Icon"></div>
                <div class="content">
                    <h2>Video</h2>
                    <hr class="hrborder">
                    <p>Content for "Video" block.</p>
                </div>
            </div>
        </div>
        <div class="highlight">
        <pre>
&lt;div class="modClear"&gt;&nbsp;&lt;/div&gt;
&lt;div class="wellBlock videowell"&gt;
    &lt;div class=&quot;well videowell&quot;&gt;
        &lt;div class=&quot;icon_local&quot; data-icon=&quot;icon_video&quot; data-alt=&quot;Video Icon&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2&gt;Video&lt;/h2&gt;
            &lt;hr class=&quot;hrborder&quot;&gt;
            &lt;p&gt;Content for &quot;Video&quot; block.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
        </div>
    <!-- END CONTENT -->
</div>
</body>
</html>
